body {
    background-color: rgb(63, 48, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    display: column;
    width: 750px;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.numbers {
    height: 420px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
button {
    display: flex;
    width: 120px;
    height: 120px;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.display {
    width: 750px;
    display: flex;
    gap:10px;
    justify-content: center;
}
input {
    width: 640px;
    height: 80px;
    margin: 10px;
}

.operators {
    height: 420px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.equalsBox {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

#plus {
    margin-bottom: 10px;
}